 
 <hr>
            <p>Hi. My name is <strong>Christopher Wavrin</strong> and I'm a software development consultant and I live in Minneapolis.</p>
          <p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
          <center>
						<a href="https://twitter.com/wavrin"><img src="https://s3.amazonaws.com/wavrincom/logos/twitter.png"></a> &nbsp;
						<a href="http://www.linkedin.com/in/wavrin"><img src="https://s3.amazonaws.com/wavrincom/logos/LinkedIn.png"></a> &nbsp;
						<a href="https://github.com/wavrin"><img src="https://s3.amazonaws.com/wavrincom/logos/github.png"></a>


						<br><br>
    				<img src="https://s3.amazonaws.com/wavrincom/logos/aws_cert.png"></a>
				</center>
					<br> <br>