					<div class="clearfix visible-lg visible-md visible-sm">        
          <h3>

            <a href="/">Christopher Wavrin</a>

          </h3>

            <p>Hi. I'm a software development consultant and I live in Minneapolis.</p>
          <p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
          
          <a href="https://twitter.com/wavrin"><%= image-url('twitter.png') %></a> &nbsp;
          <a href="http://www.linkedin.com/in/wavrin"><img src="/assets/LinkedIn.png"></a> &nbsp;
          <a href="https://github.com/wavrin"><img src="/assets/github.png"></a>
          
				</div>
				

					<div class="clearfix visible-xs">        
          <h3>

            <a href="/">Christopher Wavrin</a>

          </h3>
          
				</div>