<div class="sidebar">
	<div class="clearfix visible-lg visible-md visible-sm">        
		<h3>
			<a href="/">Christopher Wavrin</a>
		</h3>
		
		<p>Hi. I'm a software development consultant and I live in Minneapolis.</p>
		<p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
		<div align="center">
		<a href="https://twitter.com/wavrin"><img src="/assets/twitter.png"></a> &nbsp;
		<a href="http://www.linkedin.com/in/wavrin"><img src="/assets/LinkedIn.png"></a> &nbsp;
		<a href="https://github.com/wavrin"><img src="/assets/github.png"></a>
		
		<br><br>
    		<img src="https://s3.amazonaws.com/wavrincom/logos/aws_cert.png"></a>
    </div>
	</div>

	<div class="clearfix visible-xs">        
			<h3>
				<a href="/">Christopher Wavrin</a>
			</h3>
	</div>
</div>