<div class="sidebar">
					<div class="clearfix visible-lg visible-md visible-sm">        
          <h3>

           <a href="/">Christopher Wavrin</a>

          </h3>

            <p>Hi. I'm a software development consultant and I live in Minneapolis.</p>
          <p>This site is a collection of my thoughts on software development, business, and whatever else I can think of.</p>
          
          <a href="https://twitter.com/wavrin"><img src="/assets/twitter-bc2e60867157bef2eb9fa2631e3acc5f.png"></a> &nbsp;
          <a href="http://www.linkedin.com/in/wavrin"><img src="/assets/LinkedIn-ac0683ad31b7af5f9add1900af2e5804.png"></a> &nbsp;
          <a href="https://github.com/wavrin"><img src="/assets/github-63ab88b25afc3263c751c8bf4f4f8079.png"></a>
   
				</div>
				

				
					<div class="clearfix visible-xs">        
          <h3>

            <a href="/">Christopher Wavrin</a>

          </h3>
          
				</div>
				
			</div>